langchain
langchain_experimental
langchain-groq
langchain-google-genai
google-generativeai
chromadb
PyPDF2
pdfplumber
spacy
sentence-transformers
tqdm
ollama
langchain-ollama
python-dotenv
ragas
fastembed
pypdf
streamlit
fastapi
uvicorn
python-multipart